.u-section-1 {
  background-image: url("images/foto_4.jpg");
  background-position: 50% 87.14%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-group-1 {
  width: 739px;
  min-height: 500px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  width: 501px;
  margin: 26px auto 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -40px auto 0;
  padding: 9px 22px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: -252px 95px 0 auto;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 31px 95px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 500px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-1 .u-group-1 {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    min-height: auto;
  }

  .u-section-1 .u-icon-1 {
    height: 75px;
    width: 75px;
    margin-right: 89px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: auto;
  }

  .u-section-1 .u-text-1 {
    width: 320px;
  }
}